*.xml
GIS data/*
CPT/*
testpages/*
AGILE 2015 Central Places in Wikipedia alias

.ipynb_checkpoints/parse-checkpoint.ipynb

1000-1.txt

1000-2.txt

export-rego-park.sh

insert-1-of-1000.sql

insert-2-of-1000.sql

insert-2-of-1000.sql

16-13.txt

insert-1-of-16.sql

.com.apple.timemachine.supported

CPTs.qgs

CPTs.qgs~

insert-1-of-4-coords.sql

insert-2-of-4-coords.sql

insert-3-of-4-coords.sql

insert-4-of-4-coords.sql

logfile-1-of-4.txt

logfile-2-of-4.txt

logfile-3-of-4.txt

logfile-4-of-4.txt

Wikipedia-WikiProjekt Georeferenzierung-Hauptseite-Wikipedia-World-en – Wikipedia.webloc

Exploring.qgs

Exploring.qgs~

insert-coordinates-pages-enwiki-20150515.sql

PostGIS queries.txt

nyc.sql

PostGIS queries.txt

PostGIS queries.txt

*.geojson

DEM.qgs

DEM.qgs~

gdal-dem-invdist-2.0.tiff

9.-Christaller-Loesch-Modell.ppt

insert-1-of-1-coords.sql

logfile-1-of-1.txt

Coordinate.txt

Coordinatearticle.txt

Coordinates.txt

Koordinate.txt

curl.sh

*.log

node_modules/*

AGILE 2015 Central Places in Wikipedia alias (iMac's conflicted copy 2016-04-20)

*.qgs

*.qgs~
